{% extends "satsound/base.html" %}
{% load staticfiles %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/r-2.2.0/datatables.min.css"/>
<link href="{% static 'satsound/css/bootstrap3_player.css' %}" rel="stylesheet">
<style>
  input, select, textarea, .btn {
    width: auto!important;
  }
  .container-fluid.playa, .btn-group {
    padding-left: 0;
    padding-right: 0;
  }
  .hidden-xs {
    display: none!important;
  }
  table.dataTable thead td {
      padding: 8px 24px 8px 10px!important;
  }
</style>
{% endblock %}
{% block head_title %}Sonic Planetarium Audio Management{% endblock %}
{% block content %}
<h1>My Audio</h1>
{% if user_audio %}
<table id="userAudio" class="table hover">
  <thead>
  <td>Satellite</td>
  <td>Audio</td>
  <td>Attribution</td>
  <td>Type</td>
  <td>Created</td>
  <td></td>
  </thead>
  {% for audio in user_audio %}
  <tr>
    <td>{{ audio.satellite_id }}</td>
    <td style="white-space: nowrap;">
      <audio controls preload="metadata">
        <source src="{{ audio.audio.url }}"/>
        <a href="{{ audio.audio.url }}">{{ audio.audio }}</a>
        An html5-capable browser is required to play this audio.
      </audio>
    </td>
    <td>{{ audio.attribution }}</td>
    <td>{{ audio.get_type_display }}</td>
    <td>{{ audio.created }}</td>
    <td class="btn-table">
      <p data-placement="top" data-toggle="tooltip" title="Delete">
        <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </p>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
No audio yet. Upload audio for <a href="{% url 'satellite' 25544 %}">a satellite</a> to see it appear in this list.
{% endif %}
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#userAudio').DataTable({
    //responsive: true,
    "columnDefs": [
      {"orderable": false, "targets": [1,5]},
      //{"className": "dt-head-center", "targets": 5} // only if not using bootstrap dt css
      //{"className": "dt-nowrap", "targets": 4} // only if not using bootstrap dt css
      //{"width": "100px", "targets": 4}
    ]
  });
});
</script>
<script src="{% static 'satsound/js/bootstrap3_player.js' %}"></script>
{% endblock %}
